<%= partial "components/banner" %>
<%= partial "components/CCM" %>
<%= partial "components/carroussel" %>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="card-text">
      <h1>
        Vos pièces automobiles, à l'impression 3D
      </h1>
      <p>L'impression 3D est une solution alternative pour la fabrication de pièces automobiles.</p>
      <p>C'est un procédé compatible avec des petites séries ou même des pièces à l'unité.</p>
      <p>Il est donc parfait pour les pièces rares ou qui n'existent plus.</p>
      <p>Idéal pour des pièces d'enjolivement, en plastique ou en résine.</p>
      <p>Rapide. Economique. Personnalisable.</p>
      <%= link_to "Commandez votre pièce", 'commande.html', class: 'btn btn-card' %>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="img-container">
      <img src="images/first.jpg" alt="voiture de collection" class="card-img">
    </div>
  </div>
</div>


<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="img-container">
      <img src="images/pommeau3.png" alt="pièce 3D" class="card-img">
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="card-text" id="second">
      <h1>
        De la modélisation...
      </h1>
      <p>Nos experts vous accompagnent pour définir votre besoin et votre cahier des charges selon vos contraintes esthétiques et mécaniques.​</p>
      <p>Nous pouvons rapidement réaliser un prototype de la pièce pour confirmer le respect de vos exigences.</p>
      <p>Nous pouvons de plus adapter les pièces d'origine selon vos contraintes pratiques et économiques.</p>
      <p>Par téléphone ou par e-mail.</p>
      <p>A l'aide de photos, de croquis, de plans ou même de votre pièce cassée.</p>
      <%= link_to "Commandez votre pièce", 'commande.html', class: 'btn btn-card' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="card-text">
      <h1>
        A l'impression
      </h1>
      <p>Nous sélectionnons les matériaux et les paramètres d'impression optimaux pour que votre pièce soit durable dans le temps et dans son environnement.</p>
      <p>Nous vous offrons un suivi de la fabrication étape par étape.
      </p>
      <p>Si besoin, nous effectuons des tests mécaniques pour valider la résistance de votre pièce.</p>
      <p>Nos procédés de finition permettront d'obtenir un aspect tel que l'original.</p>
      <%= link_to "Commandez votre pièce", 'commande.html', class: 'btn btn-card' %>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="img-container">
      <img src="images/CAO_pignon.png" alt="pièce rare" class="card-img">
      <p>Pignon de toit ouvrant - Renault 30</p>
    </div>
  </div>
</div>









